<section class="single_wrap mtb_100">
       <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                     <div class="panel panel-default clearfix">
                            <form class="col s12 p_25">
                                <!-- success -->
                                <div class="alert alert-success" role="alert" ng-show="hideSuccess">
                                  <strong>{{ opmessage }} </strong>
                                </div>
                                <!--error-->
                                <div class="alert alert-danger" role="alert" ng-show="hideError">
                                  <strong>{{ opmessage }}</strong>
                                </div>
                                
                              <div class="row">
                                <div class="input-field col s12">
                                     <i class="material-icons prefix">account_circle</i>
                                  <input ng-model="movie.name" type="text" class="validate">
                                  <label for="movie_name">New Movie Name</label>
                                    <p> {{ movie }} </p>
                                </div>
                                  <div class="input-field col s12">
                                 <button ng-click="saveMovie(movie);" class="btn waves-effect waves-light btn-block accent-color" type="submit" name="action">Add New movie
  </button>
                                </div>
								<hr>
								<div class="input-field col s12">
                                 <button ng-click="reloadApp();" class="btn waves-effect waves-light" type="submit" name="action"><i class="fa fa-arrow-left"></i> Back to home
  </button>
                                </div>
                              </div> 
                            </form> 
                    </div>
                </div>
            </div>
        </div> 
    </section>
    <!-- latest movie-->