<section class="single_wrap mtb_100">
       <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                     <div class="panel panel-default clearfix">
                            <form class="col s12 p_25">
                              <div class="row">
                                <div class="input-field col s12">
                                     <i class="material-icons prefix">account_circle</i>
                                  <input ng-modal="movie.name" type="text" class="validate">
                                  <label for="movie_name">New Movie Name</label>
                                </div>
                                  <div class="input-field col s12">
                                 <button class="btn waves-effect waves-light btn-block accent-color" type="submit" name="action">Add New movie
  </button>
                                </div>
                              </div> 
                            </form> 
                    </div>
                </div>
            </div>
        </div> 
    </section>
    <!-- latest movie-->