<section class="single_wrap mtb_30">
       <div class="container">
            <div class="row">
                 <div class="panel panel-default">
                     <div class="m_10">
                         <a href="#/movie" class="btn waves-effect waves-light accent-color">Back to home</a>
                     </div>
                     <div class="row">
                         <div class="col-md-12 col-sm-12 col-xs-12">
                           <table class="responsive-table">
                                  <thead>
                                    <tr>
                                        <th data-field="check_list">   
                                        <input type="checkbox" id="myCheckbox" class="filled-in" />
<label for="myCheckbox"></label></th>
                                        <th data-field="name">Movie Name</th>
                                        <th data-field="year">Year</th>
                                        <th data-field="udate">Updated date</th>
                                        <th data-field="status">Status</th>
                                        <th data-field="action">Action</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr  ng-repeat="movie in movies">
                                      <td><input type="checkbox" id="myCheckbox1" class="filled-in light-blue" />
<label for="myCheckbox1"></label></td>
                                      <td>{{ movie.title }}</td>
                                      <td>{{ movie.year }} </td>
                                      <td>{{ movie.updated_at | date : 'fullDate' }}</td>
                                      <td>
                                     <!-- Switch -->
                                      <div class="switch">
                                        <label>
                                          Off
                                          <input type="checkbox"  ng-checked="movie.status == true">
                                          <span class="lever"></span>
                                          On
                                        </label>
                                      </div>
                                          
                                      </td>
                                      <td>
                                        <a class="waves-effect waves-light btn btn-sm accent-color" ng-click="deleteMovie(movie.movieid)">Edit</a>
                                        <a class="waves-effect waves-light btn btn-sm danger-color">Delete</a>
                                        </td>
                                    </tr>
                                  </tbody>
                                </table>
                          </div>

                     </div>
                </div>
            </div>
        </div> 
    </section>
    <!-- latest movie-->