<section class="single_wrap mtb_30">
       <div class="container">
            <div class="row">
                 <div class="panel panel-default">
                     <div class="m_10">
                         <a href="#/movie" class="btn waves-effect waves-light accent-color">Back to home</a>
                     </div>
                     <div class="row">
                         <div class="col-md-12 col-sm-12 col-xs-12">
                           <table class="responsive-table">
                                  <thead>
                                    <tr>
                                        <th data-field="id">   
                                        <input type="checkbox" id="myCheckbox" class="filled-in" />
<label for="myCheckbox"></label></th>
                                        <th data-field="id">Name</th>
                                        <th data-field="name">Item Name</th>
                                        <th data-field="price">Item Price</th>
                                        <th data-field="price">Action</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td><input type="checkbox" id="myCheckbox1" class="filled-in light-blue" />
<label for="myCheckbox1"></label></td>
                                      <td>Alvin</td>
                                      <td>Eclair</td>
                                      <td>$0.87</td>
                                      <td>
                                        <a class="waves-effect waves-light btn btn-sm accent-color">Edit</a>
                                        <a class="waves-effect waves-light btn btn-sm danger-color">Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" id="myCheckbox2" class="filled-in" />
<label for="myCheckbox2"></label></td>
                                      <td>Alan</td>
                                      <td>Jellybean</td>
                                      <td>$3.76</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" id="myCheckbox3" class="filled-in" />
<label for="myCheckbox3"></label></td>
                                      <td>Jonathan</td>
                                      <td>Lollipop</td>
                                      <td>$7.00</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" id="myCheckbox4" class="filled-in" />
<label for="myCheckbox4"></label></td>
                                      <td>Shannon</td>
                                      <td>KitKat</td>
                                      <td>$9.99</td>
                                    </tr>
                                  </tbody>
                                </table>
                          </div>

                     </div>
                </div>
            </div>
        </div> 
    </section>
    <!-- latest movie-->